body {
    background-color: white;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: medium;
}

img {
    max-width: 50%;
    height: auto;
    margin:auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    grid-gap: 50px;
  }